apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: tenants.mesh.openkcm.io
spec:
  group: mesh.openkcm.io
  names:
    kind: Tenant
    listKind: TenantList
    plural: tenants
    singular: tenant
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                clusterRef:
                  type: object
                  properties:
                    secretName:
                      type: string
                    secretNamespace:
                      type: string
                  required: [secretName, secretNamespace]
                workspace:
                  type: string
              required: [workspace]
            status:
              type: object
              properties:
                phase:
                  type: string
                lastMessage:
                  type: string
                lastAppliedChart:
                  type: string
                conditions:
                  type: array
                  items:
                    type: object
                    required: [type, status, lastTransitionTime, reason, message]
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                      lastTransitionTime:
                        type: string
                        format: date-time
                      reason:
                        type: string
                      message:
                        type: string
                      observedGeneration:
                        type: integer
      subresources:
        status: {}
      additionalPrinterColumns:
        - name: Phase
          type: string
          jsonPath: .status.phase
        - name: Workspace
          type: string
          jsonPath: .spec.workspace
