---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "crypto-edge-operator.serviceAccountName" . }}-cluster-role
  namespace: {{ include "crypto-edge-operator.namespace" . }}
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
      - serviceaccounts
      - configmaps
      - secrets
      - nodes
      - pods
      - services
      - endpoints
      - events
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
  - apiGroups:
      - "rbac.authorization.k8s.io"
    resources:
      - clusterroles
      - clusterrolebindings
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - "admissionregistration.k8s.io"
    resources:
      - mutatingwebhookconfigurations
      - validatingwebhookconfigurations
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - "apps"
    resources:
      - replicasets
    verbs:
      - get
      - list
      - watch

  # Access to custom resources managed by the operator
  - apiGroups:
      - "mesh.openkcm.io"
    resources:
      - cryptoedgedeployments
      - accounts
      - regions
    verbs:
      - get
      - list
      - watch
      - update
      - patch

  - apiGroups:
      - "mesh.openkcm.io"
    resources:
      - cryptoedgedeployments/status
      - accounts/status
    verbs:
      - get
      - update
      - patch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "crypto-edge-operator.serviceAccountName" . }}-cluster-role-binding
  namespace: {{ include "crypto-edge-operator.namespace" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "crypto-edge-operator.serviceAccountName" . }}-cluster-role
subjects:
  - kind: ServiceAccount
    name: {{ include "crypto-edge-operator.serviceAccountName" . }}
    namespace: {{ include "crypto-edge-operator.namespace" . }}

