---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: regions.mesh.openkcm.io
spec:
  group: mesh.openkcm.io
  names:
    kind: Region
    listKind: RegionList
    plural: regions
    shortNames:
    - reg
    singular: region
  scope: Namespaced
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        description: Region maps a logical region name to its kubeconfig Secret reference.
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            type: object
            properties:
              kubeconfigSecretName:
                type: string
                description: |-
                  Name of the Secret in the operator namespace containing the kubeconfig for this region.
                  If empty, defaults to "<region-name>-kubeconfig".
    subresources: {}
